<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="navbar.component.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <header class="navbar">
        <div class="logo">SavApp</div>
        <nav class="nav-links">
            <a href="home"><i class="fas fa-home"></i> Accueil</a>
            <a href="creerrecette">Creer Recette</a>
            <a href="">Calculateur</a>
            <a href="mesrecettes">Mes recettes</a>
            <a href="recetteindex">Recette-index</a>
            <a href="utilisateurs.html">Utilisateurs</a>
            <a href="ingredients">Ingrédients</a>
            <a href="confidentialite">Politique et Confidentialité</a>
        </nav>
        <div class="user-profile">
            <span class="user-name">John DOE</span>
            <div class="user-icon">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

</body>
</html>
