<footer class="footer">
    <div class="footer-container">
      <div class="logo">
        <img src="./assets/logo.png">
      </div>
      
      <div class="address">
        <p>Central Canebière – 10 Rue de la République</p>
        <p>F-13001 Marseille</p>
        <p>France</p>
      </div>
  
      <div class="links">
        <ul>
          <li><a routerLink="/about">À propos de nous</a></li>
          <li><a routerLink="/legal">Mentions légales</a></li>
        </ul>
      </div>
    </div>
  
    <div class="copyright">
      <p>Copyright © 2025 - Adepro</p>
    </div>
  </footer>
  